/* ========== THEME ROOT (HITAM PUTIH ABU) ========== */
:root {
  --bg: #ffffff;         /* putih */
  --card: #f2f2f2;       /* abu terang */
  --text: #1a1a1a;       /* hitam lembut */
  --text-muted: #8c8c8c; /* abu sedang */

  --blue-dark: #1a1a1a;  /* ganti jadi abu gelap */
  --blue-light: #bdbdbd; /* abu sedang */
}

/* DARK MODE */
[data-theme="dark"] {
  --bg: #0d0d0d;         /* hitam */
  --card: #1a1a1a;       /* abu gelap */
  --text: #ffffff;       /* putih */
  --text-muted: #bdbdbd; /* abu terang */

  --blue-dark: #ffffff;  /* putih */
  --blue-light: #8c8c8c; /* abu */
}
